<p>Here are some of the projects I've done over the years. Not all of the
   source code is available since it was done for work. While my current
   job keeps me busy, I do a little bit of
   <%= link_to "casual coding", "http://github.com/et" %> on the side.
</p>

<h2>drum-tabber</h2>
<p>drum-tabber was my senior project. In short, the application creates
   <%= image_tag "drum_tabber.png", :class => "left" %>
   drum tablature (ASCII music notation) for drummers who play with electronic
   drum kits. It does this by receiving MIDI signals and then decrypting them
   to the correct tablature. The application facilitates drummers who want to
   write their music out (or other drummers' music) in a more efficient
   manner.<br />
   Alternatively, drum-tabber can be used for beginner drummers that have
   difficulty keeping a steady tempo when playing<br />
   <%= link_to "drum-tabber Home Page", "http://code.google.com/p/drum-tabber/" %>
</p>

<h2>arimaai</h2>
<p>arimaaai is a computer bot that my friend and I are developing to play
   <%= link_to "Arimaa", "http://arimaa.com/arimaa/" %>, a board game that has
   been proven to be a more difficult challenge for AI than chess. Arimaa is
   especially hard becaue of the branching factor involved. With chess, you can
   only move one piece in a given turn. In Arimaa, you can move as many as four
   pieces in a single turn which makes it extremely difficult for computers to
   look ahead. Rather than trying to determine every single possible move, our
   bot focuses on certain sections of the board and tries to evalute moves only
   in certain areas.<br />
   <%= link_to "View our repository", "http://github.com/ecks/arimaai/tree/master" %>
</p>

<h2>FlightGUI</h2>
<p>FlightGUI is an application that displays a graphical display of two previous
   <%= image_tag "flightgui_small.png", :class => "left" %>
   flights that once had an encounter or a conflict. The program gives an
   animation of the two flights and the data that is pertinent. This application
   is used by analysts to adjust their trajectory prediction algorithms to avoid
   potential encounters or conflicts in the future. I worked with a group of
   students from Rowan University and Fairfield University to develop this
   application during spring of 2008.<br />
   <%= link_to "View screenshot", "/images/flightgui_big.png" %>
</p>

<h2>WebGPS</h2>
<p>WebGPS is essentially a way to interact with an information hierarchy in real
   <%= image_tag "webgps_small.png", :class => "left" %>
   time.  It uses the Web as a practical application. If you examine the
   <%= link_to "screenshot", "/images/webgps_big.png" %>, you'll see it has
   mapped all the pages that are linked on Rowan University's Web page. The
   large circle that is greyed, maps to the College of Business link. All the
   circles inside there are all the links inside the College of Business'
   sub-site. The other small greyed circles are also College of Business links
   contained in other sub sites of Rowan's site.  A study showed that users who
   used the program were able to locate Web pages of interest faster.<br />
   I worked on a redesign of this application with a graduate student during the
   fall of 2008 to make it faster and useable in any browser (the first design
   had a built in browser). The program is still in active development.<br />
   <%= link_to "View screenshot", "/images/webgps_big.png" %>
</p>

<h2>IDEA</h2>
<p>The Institute for the Development of the Arts is a non-profit organization
   <%= image_tag "idea_small.png", :class => "left" %>
   that provides education in the arts to the youth of Camden City, New Jersey.
   I worked at the organization during the summer of 2007. My role was teach a
   small group of students about web development and design. I also created the
   organization's website which utilized a small amount of PHP and AJAX and is
   XHTML 1.0 valid.<br />
   <%= link_to "View screenshot", "/images/idea_big.png" %>
</p>
