<header>
  <h1>Eric L. M. Thomas</h1>
  <h2>Software Engineer</h2>

  <nav>
    <ul>
      <li><%= link_to_with_active "Home",      root_path      %></li>
      <li><%= link_to_with_active "Education", education_path %></li>
      <li><%= link_to_with_active "Projects",  projects_path  %></li>
      <li><%= link_to_with_active "Running",   running_path   %></li>
      <li><%= link_to_with_active "Contact",   contact_path   %></li>
    </ul>
  </nav>
</header>

